*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: sans-serif;
}
h2{
    margin: 8px auto 0;
}
#player{
    margin-top: 5px auto;
}
.game{
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 360px;
    height: 360px;
    background-color: #232323;
    color: white;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.game > div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.288);
    height: 117px;
    width: 117px;
    font-size: 60px;
}
#play{
    color: white;
    border-radius: 5px;
    background-color: #232323;
    margin: 10px 0;
    width: 65px;
    height: 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.jogar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    margin: 5px 0;
    width: 50px;
    height: 60px;
    object-fit: cover;
    border-radius: 3px;
    vertical-align: middle;
}
#muri{  
    transform: rotateZ(-180deg);
    transform: rotateY(180deg);
}