*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: sans-serif;
}
h2{
    margin: 10px auto;
}
#player{
    margin: 5px auto;
}
.game{
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 400px;
    background-color: #232323;
    color: white;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.game > div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.288);
    height: 130px;
    width: 130px;
    font-size: 60px;
}
#play{
    margin: 10px 0;
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    cursor: pointer;
}
.img{
    width: 70px;
    height: 100px;
    object-fit: cover;
    border-radius: 3px;
    vertical-align: middle;
}
#muri{  
    margin-right: 8px;
    height: 90px;
    transform: rotateZ(-180deg);
    transform: rotateY(180deg);
}